@font-face {
    font-family: vector;
    src: url("vectorFont.ttf");
}

@font-face {
    font-family: ninjaGCond;
    src: url("nGCond.otf");
}

.title {
    text-align: center;
}

.title a {
    color: white;
}

.objective {
    font-family: 'Lato', sans-serif;
    color: white;
}

.rule-container {
    grid-column-start: 1;
    grid-row: 2 / span 2;
    display: flex;
    flex-direction: column;
}

.rule {
    text-shadow: 0px 0px 15px hotpink;
    font-size: 22px;
}

#title {
    font-family: ninjaGCond;
    text-decoration: none;
    font-size: 73px;
}

.mode {
    text-shadow: 0px 0px 15px hotpink;
    font-size: 22px;
}

.mode:hover {
    text-decoration: underline;
    font-style: italic;
    color: hotpink;
    cursor: pointer;
}


.playAgain:hover {
    text-decoration: underline;
    font-style: italic;
    color: hotpink;
    cursor: pointer;
}

.modeContainer {
    display: flex;
    justify-content: space-around;
    grid-row: 1;
    grid-column: 2;
    align-items: center;
}

.winContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 2;
    grid-row-start: 3;
}

.playAgain {
    display: flex;
    justify-content: center;
    grid-column-start: 2;
    grid-row-start: 2;
    font-size: 25px;
    text-shadow: 0px 0px 15px hotpink, 0px 0px 15px hotpink
}

.statContainer {
    grid-column-start: 3;
    grid-row-start: 2;
    text-align: right;
}

.title a:hover {
    color: hotpink;
}

body {
    background: black;
}

.container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 1fr 3fr 9fr;
}

.tower_container {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px;
    grid-column-start: 2;
    grid-row-start: 2;
    justify-content: center;
}

.tower {
    border: solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.text {
    color:white;
    font-family: vector;
}

.block {
    height: 40px;
    width: 40px;
    background: white;
    border: solid black;
    border-radius: 15px;
}

.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#b2 {
    width: 80px;
}

#b3 {
    width: 120px;
}

#b4 {
    width: 160px;
}

#b5 {
    width: 200px;
}

.objective {
    grid-column-start: 1;
}

.solve {
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px 5px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
    font-family: vector;
}

@media (max-width: 900px) {
    .statContainer {
        position: fixed;
        bottom: 0;
        right: 0;
        text-align: right;
    }
    .rule-container {
        grid-row-start: 3;
    }
  }