@font-face {
    font-family: arcadeT;
    src: url("arcadeTFont.otf");
}

.title {
    text-align: center;
    font-family: arcadeT;
    font-size: 45px;
}

.title a {
    color: white;
}

.winContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 2;
    grid-row-start: 2;
}

.playAgain {
    display: flex;
    justify-content: center;
    grid-column-start: 2;
    grid-row-start: 2;
}

.title a:hover {
    color: hotpink;
}

body {
    background: black;
}

.container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 3fr 1fr;
}

.tower_container {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px;
    grid-column-start: 2;
    justify-content: center;
}

.tower {
    border: solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.text {
    color:white;
}

.block {
    height: 40px;
    width: 40px;
    background: white;
    border: solid black;
    border-radius: 15px;
}

.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

#b2 {
    width: 80px;
}

#b3 {
    width: 120px;
}

#b4 {
    width: 160px;
}

#b5 {
    width: 200px;
}

.objective {
    grid-column-start: 1;
}